@model IEnumerable<Transferencia.Models.Cliente>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Identificacion</td>
            @*<td><a href="/Clientes/Detalle/@item.Id">Ver detalle</a></td>*@
            <td>@Html.ActionLink("Ver detalle", "Detalle", "Clientes", new { id = item.Id }, null)</td>
            @*<td>@Html.ActionLink("Hey","Detalle", "Clientes", new { id = item.Id }, new { @class = "text-danger" })</td>*@
        </tr>
           }


    </tbody>
</table>
